*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  min-block-size: 100vh;
}

img,
svg,
picture {
  display: block;
  max-inline-size: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
}
